.label {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.input {
    padding: 0.5rem 0.8em;
    font-size: 1.2rem;
}

.filled {
    background-color: #f6f8d5;
    border: 2px solid gold;
}
